﻿@model DemoWebApp.ViewModels.CreateStudentTeacherViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<style>
    .row-item {
        margin-bottom: 10px;
    }

</style>
<div id="list-data">
    <div class="row row-item">
        <div class="col-md-4">
            <label>FullName:</label>
            <input class="text-box full-name" type="text">
        </div>
        <div class="col-md-4">
            <label>DOB:</label>
            <input class="datepicker dob" type="text">
        </div>
        <div class="col-md-4">
            <label>TeacherName:</label>
            <input class="text-box teacher-name" type="text">
        </div>
    </div>
</div>
<div class="pull-right">
    <button class="add-btn" type="button">Add</button>
    <button class="save-btn" type="submit">Save All</button>
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script>
        var datepickerOpts = {
            dateFormat: "yy-mm-dd",
            changemonth: true,
            changeyear: true
        };

        $(".datepicker").datepicker(datepickerOpts);

        // add row
        $(".add-btn").click(function () {
            var row = ` <div class="row row-item">
            <div class="col-md-4">
                <label>FullName:</label>
                <input class="text-box full-name" type="text">
            </div>
            <div class="col-md-4">
                <label>DOB:</label>
                <input class="datepicker dob" type="text">
            </div>
            <div class="col-md-4">
                <label>TeacherName:</label>
                <input class="text-box teacher-name" type="text">
            </div>
        </div>`

            $("#list-data").append(row);

            $('#list-data').find(".datepicker").datepicker(datepickerOpts);
        })

        $(".save-btn").click(function () {
            var listData = [];
            var listTeacher = [];
            $(".row-item").each(function (index, el) {
                var fullName = $(el).find(".full-name").val();
                var dob = $(el).find(".dob").val();
                var teacherName = $(el).find(".teacher-name").val();
                var obj = {
                    fullName,
                    dob,
                    teacherName
                };

                if (listTeacher.indexOf(teacherName) == -1 && teacherName) {
                    listTeacher.push(teacherName);
                }

                if (obj.fullName != null && obj.fullName.trim().length !== 0
                    && obj.teacherName != null && obj.teacherName.trim().length !== 0) {
                    listData.push(obj);
                }
            })

            // valid 
            if (listData.length < 30 && listTeacher.length < 2) {
                alert("Cần nhập ít nhất là 30 Students, và ít nhất 2 Teacher!");
            }

            $.ajax({
                type: "POST",
                url: "/Demo/Create",
                data: JSON.stringify(listData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    alert("Done");
                },
                error: function (error) {
                //    alert("Lỗi");
                }
            });
        })


    </script>
}

