﻿@model DemoWebApp.ViewModels.QueryTeacherStudentViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Query</h2>

@foreach (var teacher in Model.Teachers)
{
    foreach (var student in teacher.Students)
    {
        <div>
            <div>
                @Html.DisplayFor(modelItem => teacher.FullName): @Html.DisplayFor(modelItem => student.FullName)
            </div>
        </div>
    }
    <div>**********************</div>
}